@media (hover: hover) {
  .phoneNumber a:hover,
  .contacts a:hover {
    animation: rotate 0.5s infinite;
  }

  .profile:hover {
    border: solid #45e387 9px;
    margin-right: 1.4rem;
  }
}

.resumeHeader {
  width: 100%;
  height: 8.4rem;
  display: flex;
  flex-direction: row;
  padding: 3vh;
  gap: 1rem;
}

.profile {
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  border-radius: 100vh;
  border: solid #191919 3px;
  margin-right: 0;
  transition: border 0.26s ease, margin-right 0.26s ease;
}

#icon {
  color: #191919;
  width: 1.4rem;
  text-align: center;
}

.nameAndContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 3rem;
  font-weight: 700;
}

.contact {
  height: 50%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 0.8rem;

  font-size: 1.2rem;
  font-weight: 400;
}

.phoneNumber a,
.contacts a {
  text-decoration: underline;
  color: #646464;
  transition: transform 0.3s ease;
}

.phoneNumber,
.contacts {
  color: #646464;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2rem;
  gap: 0.3rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
